#Ignore files in the Image Folder
Images/*

#Except for the placeholder text file
!Images/Delete_This_File.txt

#Ignore files in the Image Folder
Results/*

#Except for the placeholder text file
!Results/Results_Here.txt

#Ignore files in the Users Folder
Users/*

#Except for the placeholder text file
!Users/User_JSON_Here.txt

#Ignore the .vscode folder
.vscode/

#Ignore the trainer file
Trainer/*

#Except for the placeholder text file
!Trainer/Trainer_Here.txt
